@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 100vh;
    background: url(https://images.unsplash.com/photo-1573848953384-3be02021eb0b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80) center no-repeat;
    background-size: cover;
}

/* Container ----> center part of the page */
/* targets grid and the range slider, and the tooltip */
.container{
    display:flex;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 3px solid rgb(88, 75, 133);
}

.cube{
    box-sizing: border-box;
    border: 1px solid rgba(88, 75, 133, 0.5);
}

.range{
    width: 300px;
    height: 30px;
    position: absolute;
    border-radius: 5px;
    left: 30%;
    transform: translate(-50%, -50%) rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#number{
    background-color: rgb(88, 75, 133);
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: 700;
    border-radius: 10%;
    transform: rotate(90deg);
}

#number::before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 10px solid rgb(88, 75, 133);
    border-right: 8px solid transparent;
    border-left : 8px solid transparent;
    top: -9px;
}

input[type="range"]{
    -webkit-appearance: none;
    width: 80%;
    height: 4px;
    position: relative;
    background: rgb(255, 255, 255, 0.4);
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: rgb(88, 75, 133);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}


/* Header -----> Left side of the page */
/* targets header text */
.header{
    position: absolute;
    left: 5%;
    color: rgb(28, 12, 91);
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 100px;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0 20%;
    box-shadow: inset 2px 2px 5px #fff, inset -3px -3px 7px rgb(28, 12, 91);
}


/* Other Utilities {Right side of the page} */
/* targets colors, eraser, pencil, line breaks and clear button */
.other-utils{
    width: 20em;
    height: 35em;
    position: absolute;
    right: 3%;
    /* border: 2px solid rgba(88, 75, 133, 0.5); */
    display: flex;
    flex-direction: column;
    border-radius: 2%;
}

.colors{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5em;
}

.color-cube{
    border: 3px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
}

div .active {
    border: 5px double #000;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) unset, 0px 0px 8px rgb(183, 165, 255);
}

hr{
    width: 80%;
    height: 3px;
    background-color: rgb(88, 75, 133);
    margin-top: 5%;
    border: none;

}


.tools{
    margin-top: 10px;
    height: 20%;
    /* background-color: rgb(88, 75, 133); */
    border: 5px dotted rgb(88, 75, 133);
    border-radius: 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.eraser{
    width: 30%;
    margin-left: 10%;
    padding: 0;
}


.tool-divider{
    transform: rotate(90deg);
    width: 25%;
    margin: 0;
    padding: 0;
}

.pencil{
    margin-right: 13%;
    padding: 0;
}

.clear-button{
    height: 10%;
    margin-top: 5%;
    border-radius: 8px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Gemunu Libre', sans-serif;
    background-color: rgb(88, 75, 133);
    border: 3px solid transparent;
}


/* <---------------------------------------EOF-----------------------------------------> */