@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 100vh;
    background: url(https://images.unsplash.com/photo-1573848953384-3be02021eb0b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80) center no-repeat;
    background-size: cover;
}

.container{
    display:flex;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 3px solid rgb(88, 75, 133);
}

.cube{
    box-sizing: border-box;
    border: 1px solid rgba(88, 75, 133, 0.5);
}

.range{
    width: 300px;
    height: 30px;
    position: absolute;
    border-radius: 5px;
    left: 30%;
    transform: translate(-50%, -50%) rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#number{
    background-color: rgb(88, 75, 133);
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: 700;
    border-radius: 10%;
    transform: rotate(90deg);
}

#number::before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 10px solid rgb(88, 75, 133);
    border-right: 8px solid transparent;
    border-left : 8px solid transparent;
    top: -9px;
}

input[type="range"]{
    -webkit-appearance: none;
    width: 80%;
    height: 4px;
    position: relative;
    background: rgb(255, 255, 255, 0.4);
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: rgb(88, 75, 133);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.header{
    position: absolute;
    left: 8%;
    color: rgb(28, 12, 91);
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 100px;
}
